.form-input {
  display: flex;
  flex-direction: column;
  font-style: italic;
  color: var(--dark-grey-color);
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
}
input.form-input {
  width: 100%;
}
.certificate-form {
  display: flex;
  min-height: 100%;
  justify-content: space-around;
}
.certificate-info {
  width: 45%;
}
.certificate-file-container {
  width: 46%;
}

.certificate-form .button {
  padding: 7px 40px 7px 40px;
  font-size: 15px;
  min-width: 50px;
  font-weight: 400;
}
iframe {
  min-width: 100%;
  min-height: 100%;
  margin-top: 10px;
  border: solid var(--light-grey-color) 1px;
}
.action-buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
  margin-top: 20px;
}
.action-buttons button {
  cursor: pointer;
}
.action-buttons button:first-child {
  background: var(--green-color);
}
.search-input-icons {
  position: absolute;
  right: -3px;
  bottom: -3px;
  width: 80px;
}
.certificate-form-container p {
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
  color: var(--dark-grey-color);
}
.search-input-icons img {
  cursor: pointer;
  width: 35px;
  height: 36px;
  padding: 8px 10px 6px 8px;
  border-left: solid var(--light-grey-color) 1px;
}
.remove-user-button {
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 760px) {
  .certificate-info {
    width: 90%;
  }
  .certificate-file-container {
    width: 90%;
  }
  .certificate-form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.add-participant-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px 5px 10px !important;
  color: var(--dark-grey-color) !important;
  background: var(--white-color) !important;
  border: 1px solid var(--light-grey-color) !important;
}
.search-table {
  color: black;
}
.remove-user {
  cursor: pointer;
}
.add-comment-button {
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
}
.comments {
  color: var(--dark-grey-color);
}
.comments p{
  font-size: 15px;
}
.comment-inputs {
  min-width: 100%;
}
.comment-inputs,
textarea {
  padding: 10px;
  border: solid 1px var(--light-grey-color);
}
.comment-inputs textarea {
  font-size: 15px;
  padding: 15px;
  outline: none;
  width: 93%;
}
.comment-inputs button {
  background: var(--red-color);
}
.comment-inputs p {
  line-height: 0px;
  font-style: italic;
  font-size: 15px;
  color: var(--dark-grey-color);
  font-weight: 500;
}
