:root {
  --primary-color: #3f9ac9;
  --secondary-color: #e7e9ea;
}
body {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.button {
  width: fit-content;
  background-color: var(--primary-color);
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: none;
}
.rounded {
  border-radius: 16px;
}
