:root {
  --primary-color: #3f9ac9;
  --secondary-color: #e7e9ea;
  --dark-grey-color: #666869;
  --grey-hover-color: #b6cfdc24;
  --white-color: #fff;
  --black-color: #000;
  --light-grey-color: #dddddd;
  --green-color: #adbc0b;
  --error-color: #ec0e24;
  --pink-color: #f5c6cb;
  --light-pink-color: #f8d7da;
  --dark-blur-color: #30427f;
}
body,
html {
  color: var(--primary-color);
  background-color: var(--white-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0px;
}
.button {
  width: fit-content;
  background-color: var(--primary-color);
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  color: var(--white-color);
  border: none;
  cursor: pointer;
}
.rounded {
  border-radius: 16px;
}
.flex {
  display: flex;
  gap: 10px;
}
.flex-col {
  flex-direction: column;
}
.outlet {
  width: 70%;
  position: relative;
}
.header {
  background: var(--white-color);
  color: var(--white-color);
  position: relative;
  min-width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  box-shadow: 0px 1px 6px 2px var(--secondary-color);
}

.header .header-title {
  background: var(--primary-color);
  width: 25%;
  min-width: max-content;
}
.header-title h1 {
  margin-left: 40px;
  font-weight: 400;
}
.header-side-menu {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: var(--black-color);
  max-height: 100%;
}
.header-side-menu select {
  margin-top: 30px;
  margin-left: 10px;
  width: 100px;
  border: 1px solid var(--primary-color);
}
.start-page-content,
.example-content {
  font-size: 40px;
  margin: 30px 30px;
  color: var(--dark-grey-color);
}
.not-found-page {
  min-width: 30vw;
  text-align: center;
  font-size: 30px;
}
.not-found-page a {
  background: var(--primary-color);
  color: var(--white-color);
  padding: 10px;
}
.not-found-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 0;
}
.header-menu-icon {
  display: none;
  position: absolute;
  margin-left: 30px;
}
.header-menu-icon img {
  width: 20px;
  height: 20px;
  filter: invert(100);
}
button.header-menu-icon {
  padding: 10px 10px 3px 10px;
}
button.try-again {
  background: var(--primary-color);
}
.try-again {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.hidden {
  display: none;
}
.new-certificate-button {
  padding: 10px;
  background: var(--green-color);
  margin-bottom: 10px;
  cursor: pointer;
}
input,
select {
  padding: 10px 7px 10px 7px;
  border: solid var(--light-grey-color) 1px;
  outline: none;
}
input:disabled {
  cursor: not-allowed;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.certificate-form-container {
  width: 95%;
}
.delete-button {
  margin-left: 10px;
  background: var(--error-color);
}
.certificate-form-container {
  width: 95%;
}
.certificate-form-container {
  width: 95%;
}
@media screen and (max-width: 480px) {
  /* html {
    overflow-y: scroll;
  } */
  .header {
    display: flex;
    align-items: center;
    width: fit-content;
    box-shadow: none;
    z-index: 20;
  }
  .header h1 {
    width: 100vw;
    padding-left: 0px;
    text-align: center;
  }

  .header-menu-icon {
    filter: invert(100);
    background: var(--black-color);
    border-radius: 5px;
    display: block;
  }
  .outlet {
    width: 100%;
    position: relative;
  }
  .not-found-page {
    font-size: 20px;
    min-width: 50vw;
  }
}
