.sidebar-menu {
  width: 25%;
  background: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  padding-top: 50px;
  z-index: 10;
}
.side-bar-item {
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
  animation: from-top 0.3s ease-in-out;
}
.menu-item img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 15px;
}

.menu-item {
  font-size: 20px;
  line-height: 0px;
  align-items: center;
  cursor: pointer;
}
.menu-item:hover {
  background: var(--grey-hover-color);
  transition: all 0.5s;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
.filter-blue {
  filter: invert(46%) sepia(75%) saturate(350%) hue-rotate(157deg)
    brightness(91%) contrast(95%);
}
.filter-dark-blue {
  filter: invert(21%) sepia(6%) saturate(5%) hue-rotate(190deg) brightness(95%)
    contrast(89%);
  color: var(--dark-grey-color) !important;
}
.active-sidebar-item-indicator {
  padding: 6px;
  height: 40px;
  background-color: var(--primary-color);
}
.sub-menu-item-dropdown img {
  height: 40px;
  width: 40px;
}
.sidebar-sub-menu {
  margin-left: 40px !important;
  font-size: 20px;
  line-height: 30px;
  animation: from-top 0.3s ease-in-out;
  transition: initial;
}
.sidebar-sub-menu li {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.sub-menu-item-dropdown {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

@keyframes from-top {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 480px) {
  .sidebar-menu {
    position: fixed;
    width: 80%;
    height: 100vh;
    z-index: 10;
  }
}

.file-upload {
  width: 100%;
}
.select-arrow-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.form-input {
  display: flex;
  flex-direction: column;
  font-style: italic;
  color: var(--dark-grey-color);
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
}
input.form-input {
  width: 100%;
}
.certificate-form {
  display: flex;
  height: 100%;
  justify-content: space-around;
}
.certificate-info {
  width: 45%;
}
.certificate-file-container {
  width: 46%;
}

.certificate-form .button {
  padding: 7px 40px 7px 40px;
  font-size: 15px;
  min-width: 50px;
  font-weight: 400;
}
iframe {
  min-width: 100%;
  min-height: 100%;
  margin-top: 10px;
  border: solid var(--light-grey-color) 1px;
}
.action-buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
  margin-top: 20px;
}
.action-buttons button {
  cursor: pointer;
}
.action-buttons button:first-child {
  background: var(--green-color);
}
.search-input-icons {
  position: absolute;
  right: -3px;
  bottom: -3px;
  width: 80px;
}
.certificate-form-container p {
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
  color: var(--dark-grey-color);
}
.search-input-icons img {
  cursor: pointer;
  width: 21px;
  height: 22px;
  padding: 8px 10px 6px 8px;
  border-left: solid var(--light-grey-color) 1px;
}
.remove-user-button {
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 760px) {
  .certificate-info {
    width: 90%;
  }
  .certificate-file-container {
    width: 90%;
  }
  .certificate-form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.add-participant-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px 5px 10px !important;
  color: var(--dark-grey-color) !important;
  background: var(--white-color) !important;
  border: 1px solid var(--light-grey-color) !important;
}
.search-table {
  color: black;
}
.remove-user {
  cursor: pointer;
}
.add-comment-button {
  display: flex;
  justify-content: end;
}
.comments {
  color: var(--dark-grey-color);
}
.comment-inputs {
  min-width: 100%;
}
.comment-inputs,
textarea {
  padding: 10px;
  border: solid 1px var(--light-grey-color);
}
.comment-inputs textarea {
  font-size: 15px;
  padding: 15px;
  outline: none;
  width: 93%;
}
.comment-inputs button {
  background: var(--red-color);
}
.comment-inputs p {
  line-height: 0px;
  font-style: italic;
  color: var(--dark-grey-color);
  font-weight: 500;
}

dialog {
  padding: 5px;
  border: solid var(--light-grey-color) 1px;
  width: 47%;
}
.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 5px;
  padding-left: 15px;
  font-weight: 600;
  border: solid var(--light-grey-color) 1px;
}
.dialog-header button {
  width: 100px;
  background: none;
  padding-top: 2px;
  padding-bottom: 0;
  height: fit-content;
  outline: none;
  border: solid var(--light-grey-color) 1px;
}
.search-criteria {
  background: var(--primary-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}
.dialog-header p {
  font-size: 20px;
}
.search-criteria p {
  font-size: 18px;
  color: var(--white-color);
}
.search-container {
  margin: 10px;
  border: var(--light-grey-color) 1px solid;
}
.search-inputs-container {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.search-inputs-container input {
  width: 170px;
  padding: 7px;
}
.search-inputs-container label {
  font-weight: 400;
  font-size: 15px;
  font-style: italic;
}
.search-action-buttons {
  margin: 15px;
}
.search-action-buttons button {
  padding: 0;
  width: 150px;
  font-weight: 400;
  font-size: 15px;
  height: 35px;
  background: none;
  color: var(--dark-grey-color);
  border: var(--light-grey-color) 1px solid;
}
.search-action-buttons button:first-child {
  margin-right: 10px;
  background: var(--dark-blur-color);
  border: none;
  color: var(--white-color);
}
.search-action-buttons button:first-child:disabled {
  background: rgb(228, 186, 102);
}
.search-table {
  height: 8rem !important;
}

::backdrop {
  border: var(--light-dark-color) 12x solid;
  background: var(--black-color);
  opacity: 0.5;
}
@media screen and (max-width: 760px) {
  dialog {
    width: 95%;
  }
  .search-action-buttons {
    margin: 0px;
  }
  .search-action-buttons button {
    width: 120px;
  }
}

th {
  font-weight: 400;
  font-size: 17px;
}
.table-container {
  width: 95%;
  border: 1px solid var(--light-grey-color);
  padding: 15px;
  font-size: 15px;
  font-weight: 400;
  max-height: 15rem;
  overflow-y: scroll;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  border-top: 1px solid var(--light-grey-color);
}

th {
  text-align: left;
  padding: 10px;
  border-left: 1px solid var(--light-grey-color);
}

thead tr :first-child {
  border-left: 1px hidden;
}
tbody {
  overflow-y: scroll;
  max-height: 12px !important;
}
tr {
  border-bottom: 1px solid var(--light-grey-color);
}

td {
  padding: 10px;
  position: relative;
}
.setting-icon {
  cursor: pointer;
}
.setting-action-buttons {
  position: absolute;
  background: var(--white-color);
  box-shadow: -2px 2px 4px 0px var(--black-color);
  z-index: 99;
  left: 0px;
  padding: 3px;
}

.setting-action-buttons button {
  padding: 0px;
  font-size: 15px;
  text-align: left;
  font-weight: 400;
  width: 100%;
  background: none;
  color: var(--black-color);
}
.setting-action-buttons button:hover {
  background: var(--light-grey-color);
}
.radio-container {
  line-height: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-button {
  line-height: 0;
  width: 10px;
  height: 20px;
  transform: scale(1.2);
  padding: 5px;
}
p {
  color: var(--black-color);
}
.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.no-data p {
  font-size: 15px !important;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .table-container {
    padding: 10px;
    width: 95%;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
  }
}

.error-container {
  background-color: var(--light-pink-color);
  color: var(--error-color);
  padding: 1rem;
  border: 1px solid var(--pink-color);
  border-radius: 4px;
  margin: 1rem 0;
}
.error-message {
  margin: 0;
  font-size: 1rem;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  height: 80vh;
}

.spinner {
  border: 4px solid var(--primary-color);
  border-left-color: var(--light-grey-color);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-container p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--primary-color);
}

:root {
  --primary-color: #3f9ac9;
  --secondary-color: #e7e9ea;
  --dark-grey-color: #666869;
  --grey-hover-color: #b6cfdc24;
  --white-color: #fff;
  --black-color: #000;
  --light-grey-color: #dddddd;
  --green-color: #adbc0b;
  --error-color: #ec0e24;
  --red-color: #70071a;
  --pink-color: #f5c6cb;
  --light-pink-color: #f8d7da;
  --dark-blur-color: #30427f;
}
body,
html {
  color: var(--primary-color);
  background-color: var(--white-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* ::-webkit-scrollbar {
  width: 0px;
} */
.button {
  width: fit-content;
  background-color: var(--primary-color);
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  color: var(--white-color);
  border: none;
  cursor: pointer;
}
.rounded {
  border-radius: 16px;
}
.flex {
  display: flex;
  gap: 10px;
}
.flex-col {
  flex-direction: column;
}
.outlet {
  width: 74%;
  height: 33rem !important;
  overflow-y: scroll;
  padding-bottom: 100px;
}
.header {
  background: var(--white-color);
  color: var(--white-color);
  position: relative;
  min-width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  box-shadow: 0px 1px 6px 2px var(--secondary-color);
}

.header .header-title {
  background: var(--primary-color);
  width: 25%;
  min-width: max-content;
}
.header-title h1 {
  margin-left: 40px;
  font-weight: 400;
}
.header-side-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 30px;
  color: var(--black-color);
  max-height: 100%;
}
.header-side-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-side-menu select {
  margin-top: 20px;
  margin-left: 10px;
  padding: 0px;
  padding-left: 5px;
  height: 30px;
  width: 150px;
  border: 1px solid var(--primary-color);
}
.start-page-content,
.example-content {
  font-size: 40px;
  margin: 30px 30px;
  color: var(--dark-grey-color);
}
.not-found-page {
  min-width: 30vw;
  text-align: center;
  font-size: 30px;
}
.not-found-page a {
  background: var(--primary-color);
  color: var(--white-color);
  padding: 10px;
}
.not-found-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 0;
}
.header-menu-icon {
  display: none;
  position: absolute;
  margin-left: 30px;
}
.header-menu-icon img {
  width: 20px;
  height: 20px;
  filter: invert(100);
}
button.header-menu-icon {
  padding: 10px 10px 3px 10px;
}
button.try-again {
  background: var(--primary-color);
}
.try-again {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.hidden {
  display: none;
}
.new-certificate-button {
  padding: 10px;
  background: var(--green-color);
  margin-bottom: 10px;
  cursor: pointer;
}
input,
select {
  padding: 10px 7px 10px 7px;
  border: solid var(--light-grey-color) 1px;
  outline: none;
}
input:disabled {
  cursor: not-allowed;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.certificate-form-container {
  width: 95%;
}
.delete-button {
  margin-left: 10px;
  background: var(--error-color);
}
.certificate-form-container {
  width: 95%;
}
.certificate-form-container {
  width: 95%;
}
@media screen and (max-width: 480px) {
  /* html {
    overflow-y: scroll;
  } */
  .header {
    display: flex;
    align-items: center;
    width: fit-content;
    box-shadow: none;
    z-index: 20;
  }
  .header h1 {
    width: 100vw;
    padding-left: 0px;
    text-align: center;
  }

  .header-menu-icon {
    filter: invert(100);
    background: var(--black-color);
    border-radius: 5px;
    display: block;
  }
  .outlet {
    width: 100%;
    position: relative;
  }
  .not-found-page {
    font-size: 20px;
    min-width: 50vw;
  }
}

